In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the CSV file
df = pd.read_csv('data132.csv')

unique_dates = len(df['Date'].unique())
date_counts = df['Date'].value_counts()

print("Unique dates:")
print(unique_dates)
print("\nDate counts:")
print(date_counts)

Unique dates:
123

Date counts:
Date
2022-07-22    303
2022-07-21    202
2022-07-23    202
2022-07-26    202
2022-08-23    202
2024-06-06    202
2022-09-22    202
2023-08-10    202
2022-07-28    101
2022-07-25    101
2022-07-24    101
2022-08-01    101
2022-08-02    101
2022-08-03    101
2022-08-04    101
2022-08-05    101
2022-08-06    101
2022-08-07    101
2022-08-08    101
2022-08-09    101
2022-08-10    101
2022-08-11    101
2022-08-12    101
2022-08-13    101
2022-07-29    101
2022-07-30    101
2022-07-27    101
2022-08-16    101
2022-08-17    101
2022-08-19    101
2022-08-18    101
2022-08-20    101
2022-08-21    101
2022-08-22    101
2022-08-24    101
2022-08-25    101
2022-08-26    101
2022-08-27    101
2022-08-28    101
2022-08-29    101
2022-08-30    101
2022-08-31    101
2022-09-01    101
2022-09-02    101
2022-09-03    101
2022-09-04    101
2022-09-05    101
2022-09-06    101
2022-09-07    101
2022-09-08    101
2022-09-09    101
2022-09-10    101
2022-09-11    101
2022-09-12    101
2022-09-13    101
2022-09-14    101
2022-08-14    101
2022-08-15    101
2022-07-31    101
2022-09-17    101
2022-09-16    101
2022-09-15    101
2022-09-18    101
2022-09-21    101
2023-01-12    101
2022-09-20    101
2022-09-19    101
2023-04-13    101
2023-04-20    101
2023-04-27    101
2023-05-04    101
2023-05-11    101
2023-05-18    101
2023-03-30    101
2023-04-06    101
2023-06-01    101
2023-05-25    101
2023-06-08    101
2023-06-15    101
2023-07-06    101
2023-07-13    101
2023-06-22    101
2023-06-29    101
2023-07-27    101
2023-07-20    101
2023-08-03    101
2024-06-13    101
2024-06-20    101
2024-06-27    101
2024-07-04    101
2024-07-11    101
2024-07-18    101
2024-07-25    101
2024-08-01    101
2024-08-08    101
2024-08-15    101
2024-08-22    101
2024-08-29    101
2024-09-05    101
2024-09-12    101
2024-09-19    101
2024-09-26    101
2024-10-03    101
2024-10-10    101
2024-10-17    101
2024-10-24    101
2024-10-31    101
2024-11-07    101
2024-11-14    101
2024-11-21    101
2024-11-28    101
2024-12-05    101
2024-12-12    101
2024-12-19    101
2024-12-26    101
2025-01-02    101
2025-01-09    101
2025-01-16    101
2025-01-23    101
2025-01-30    101
2025-02-06    101
2025-02-13    101
2025-02-20    101
Name: count, dtype: int64

In [ ]:
# Get value counts of unique countries
country_counts = df['Country'].value_counts()
pd.set_option('display.max_rows', None)

# Display the results
print("Number of unique countries:", len(df['Country'].unique()))
print("\nCountry counts:")
print(country_counts)

In [10]:
# Filter the dataframe for the specific date
df_specific_date = df[df['Date'] == '2022-07-22']

# Display the shape and first few rows of the filtered dataframe
print("Shape of filtered dataframe:", df_specific_date.shape)
print("\nFirst few rows:")
display(df_specific_date.head())

Shape of filtered dataframe: (303, 5)

First few rows:

     Unnamed: 0        Date    Country    Status  AQI Value
202         286  2022-07-22    Andorra  Moderate         52
203         288  2022-07-22  Argentina  Moderate         53
204         289  2022-07-22    Armenia  Moderate         54
205         290  2022-07-22  Australia  Moderate         66
206         291  2022-07-22    Austria      Good         45

In [9]:
# Get the unique dates
unique_dates = df['Date'].unique()

print("Unique dates:")
print(unique_dates)

Unique dates:
['2022-07-21' '2022-07-22' '2022-07-23' '2022-07-24' '2022-07-25'
 '2022-07-26' '2022-07-27' '2022-07-28' '2022-07-29' '2022-07-30'
 '2022-07-31' '2022-08-01' '2022-08-02' '2022-08-03' '2022-08-04'
 '2022-08-05' '2022-08-06' '2022-08-07' '2022-08-08' '2022-08-09'
 '2022-08-10' '2022-08-11' '2022-08-12' '2022-08-13' '2022-08-14'
 '2022-08-15' '2022-08-16' '2022-08-17' '2022-08-18' '2022-08-19'
 '2022-08-20' '2022-08-21' '2022-08-22' '2022-08-23' '2022-08-24'
 '2022-08-25' '2022-08-26' '2022-08-27' '2022-08-28' '2022-08-29'
 '2022-08-30' '2022-08-31' '2022-09-01' '2022-09-02' '2022-09-03'
 '2022-09-04' '2022-09-05' '2022-09-06' '2022-09-07' '2022-09-08'
 '2022-09-09' '2022-09-10' '2022-09-11' '2022-09-12' '2022-09-13'
 '2022-09-14' '2022-09-15' '2022-09-16' '2022-09-17' '2022-09-18'
 '2022-09-19' '2022-09-20' '2022-09-21' '2022-09-22' '2023-01-12'
 '2023-03-30' '2023-04-06' '2023-04-13' '2023-04-20' '2023-04-27'
 '2023-05-04' '2023-05-11' '2023-05-18' '2023-05-25' '2023-06-01'
 '2023-06-08' '2023-06-15' '2023-06-22' '2023-06-29' '2023-07-06'
 '2023-07-13' '2023-07-20' '2023-07-27' '2023-08-03' '2023-08-10'
 '2024-06-06' '2024-06-13' '2024-06-20' '2024-06-27' '2024-07-04'
 '2024-07-11' '2024-07-18' '2024-07-25' '2024-08-01' '2024-08-08'
 '2024-08-15' '2024-08-22' '2024-08-29' '2024-09-05' '2024-09-12'
 '2024-09-19' '2024-09-26' '2024-10-03' '2024-10-10' '2024-10-17'
 '2024-10-24' '2024-10-31' '2024-11-07' '2024-11-14' '2024-11-21'
 '2024-11-28' '2024-12-05' '2024-12-12' '2024-12-19' '2024-12-26'
 '2025-01-02' '2025-01-09' '2025-01-16' '2025-01-23' '2025-01-30'
 '2025-02-06' '2025-02-13' '2025-02-20']

In [11]:
# Define the dates to filter
dates_to_limit = ['2022-07-22', '2022-07-21', '2022-07-23', '2022-07-26', 
                  '2022-08-23', '2024-06-06', '2022-09-22', '2023-08-10']

# Filter the dataframe for the specified dates
df_filtered_dates = df[df['Date'].isin(dates_to_limit)]

# Keep only the first 101 rows for the specified dates
df_limited_dates = df_filtered_dates.head(101)

# Get the remaining rows that are not in the specified dates
df_other_rows = df[~df['Date'].isin(dates_to_limit)]

# Concatenate the limited rows with the other rows
df_final = pd.concat([df_limited_dates, df_other_rows])

# Display the shape and first few rows of the final dataframe
print("Shape of final dataframe:", df_final.shape)
print("\nFirst few rows:")
display(df_final.head())

Shape of final dataframe: (11716, 5)

First few rows:

   Unnamed: 0        Date    Country    Status  AQI Value
0           2  2022-07-21    Andorra  Moderate         55
1           4  2022-07-21  Argentina  Moderate         63
2           5  2022-07-21    Armenia  Moderate         76
3           6  2022-07-21  Australia  Moderate         56
4           7  2022-07-21    Austria      Good         45

In [12]:
unique_dates = len(df_final['Date'].unique())
date_counts = df_final['Date'].value_counts()

print("Unique dates:")
print(unique_dates)
print("\nDate counts:")
print(date_counts)

Unique dates:
116

Date counts:
Date
2022-07-21    101
2022-07-24    101
2022-07-25    101
2022-07-27    101
2022-07-28    101
2022-07-29    101
2022-07-30    101
2022-07-31    101
2022-08-01    101
2022-08-02    101
2022-08-03    101
2022-08-04    101
2022-08-05    101
2022-08-06    101
2022-08-07    101
2022-08-08    101
2022-08-09    101
2022-08-10    101
2022-08-11    101
2022-08-12    101
2022-08-13    101
2022-08-14    101
2022-08-15    101
2022-08-16    101
2022-08-17    101
2022-08-18    101
2022-08-19    101
2022-08-20    101
2022-08-21    101
2022-08-22    101
2022-08-24    101
2022-08-25    101
2022-08-26    101
2022-08-27    101
2022-08-28    101
2022-08-29    101
2022-08-30    101
2022-08-31    101
2022-09-01    101
2022-09-02    101
2022-09-03    101
2022-09-04    101
2022-09-05    101
2022-09-06    101
2022-09-07    101
2022-09-08    101
2022-09-09    101
2022-09-10    101
2022-09-11    101
2022-09-12    101
2022-09-13    101
2022-09-14    101
2022-09-15    101
2022-09-16    101
2022-09-17    101
2022-09-18    101
2022-09-19    101
2022-09-20    101
2022-09-21    101
2023-01-12    101
2023-03-30    101
2023-04-06    101
2023-04-13    101
2023-04-20    101
2023-04-27    101
2023-05-04    101
2023-05-11    101
2023-05-18    101
2023-05-25    101
2023-06-01    101
2023-06-08    101
2023-06-15    101
2023-06-22    101
2023-06-29    101
2023-07-06    101
2023-07-13    101
2023-07-20    101
2023-07-27    101
2023-08-03    101
2024-06-13    101
2024-06-20    101
2024-06-27    101
2024-07-04    101
2024-07-11    101
2024-07-18    101
2024-07-25    101
2024-08-01    101
2024-08-08    101
2024-08-15    101
2024-08-22    101
2024-08-29    101
2024-09-05    101
2024-09-12    101
2024-09-19    101
2024-09-26    101
2024-10-03    101
2024-10-10    101
2024-10-17    101
2024-10-24    101
2024-10-31    101
2024-11-07    101
2024-11-14    101
2024-11-21    101
2024-11-28    101
2024-12-05    101
2024-12-12    101
2024-12-19    101
2024-12-26    101
2025-01-02    101
2025-01-09    101
2025-01-16    101
2025-01-23    101
2025-01-30    101
2025-02-06    101
2025-02-13    101
2025-02-20    101
Name: count, dtype: int64

In [13]:
# Get value counts of unique countries
country_counts = df_final['Country'].value_counts()
# Display the results
print("Number of unique countries:", len(df_final['Country'].unique()))
print("\nCountry counts:")
print(country_counts)

Number of unique countries: 101

Country counts:
Country
Andorra                                                 116
Argentina                                               116
Armenia                                                 116
Australia                                               116
Austria                                                 116
Azerbaijan                                              116
Bangladesh                                              116
Belarus                                                 116
Belgium                                                 116
Bosnia and Herzegovina                                  116
Brazil                                                  116
Brunei                                                  116
Bulgaria                                                116
Canada                                                  116
Cape Verde                                              116
Chile                                                   116
China                                                   116
Colombia                                                116
Croatia                                                 116
Cyprus                                                  116
Czech Republic                                          116
Denmark                                                 116
Dominican Republic                                      116
Ecuador                                                 116
Estonia                                                 116
Ethiopia                                                116
Finland                                                 116
France                                                  116
French Guiana                                           116
Georgia                                                 116
Germany                                                 116
Ghana                                                   116
Greece                                                  116
Guadeloupe                                              116
Guatemala                                               116
Hong Kong                                               116
Iceland                                                 116
India                                                   116
Indonesia                                               116
Ireland                                                 116
Israel                                                  116
Italy                                                   116
Japan                                                   116
Jordan                                                  116
Kazakhstan                                              116
Kenya                                                   116
Kuwait                                                  116
Kyrgyzstan                                              116
Laos                                                    116
Latvia                                                  116
Liechtenstein                                           116
Lithuania                                               116
Macao                                                   116
Macedonia                                               116
Madagascar                                              116
Malaysia                                                116
Malta                                                   116
Martinique                                              116
Mexico                                                  116
Moldova                                                 116
Monaco                                                  116
Mongolia                                                116
Montenegro                                              116
Myanmar                                                 116
Nepal                                                   116
Netherlands                                             116
New Zealand                                             116
Nigeria                                                 116
Norway                                                  116
Pakistan                                                116
Palestinian Territory                                   116
Peru                                                    116
Philippines                                             116
Poland                                                  116
Portugal                                                116
Reunion                                                 116
Romania                                                 116
Russia                                                  116
San Marino                                              116
Serbia                                                  116
Singapore                                               116
Slovakia                                                116
Slovenia                                                116
South Africa                                            116
South Korea                                             116
Spain                                                   116
Sri Lanka                                               116
Sweden                                                  116
Switzerland                                             116
Taiwan                                                  116
Tajikistan                                              116
Thailand                                                116
Trinidad and Tobago                                     116
Turkey                                                  116
Uganda                                                  116
Ukraine                                                 116
United Arab Emirates                                    116
United Kingdom of Great Britain and Northern Ireland    116
United States of America                                116
Vatican                                                 116
Vietnam                                                 116
Name: count, dtype: int64

In [15]:
df_final.to_csv("data116.csv")